<!DOCTYPE html>
<html>

<head>
  
</head>

<body>
  <h1>Login</h1>
  <form id="login" action="http://127.0.0.1:5000/principal"> <!-- troca pela url do servidor replit-->
    
    <input type="text" id="username" name="username" placeholder="Username" required><br>

    <input type="password" id="password" name="password" placeholder="Senha" required><br>

    <input type="hidden" name="redirect" value="http://127.0.0.1:5000/principal"> <!-- troca pela url do servidor replit-->
    
  </form>
  <button onclick="document.getElementById('login').submit();">Fazer Login</button>
</body>
</html>