<!DOCTYPE html>
<html>
  <head>
    <title>Exemplo de Tela com 3 Botões de Redirecionamento</title>
  </head>
  <body>
    <h1>Bem-vindo, {{ username }}! Escolha uma opção:</h1>

    <form action="/update_user" method="POST">
    <input type="hidden" name="token" value='{{token}}'>
    <input type="hidden" name="username" value='{{user}}'>
    <input type="hidden" name="password" value='{{senha}}'>
    <button type="submit">Atualizar cadastro</button>
    </form>
    <form action="/tasks" method="GET">
      <input type="hidden" name="token" value={{token}}>
      <button type="submit">Tasks</button>
    </form>
    <form action="/delete" method="POST">
      <input type="hidden" name="token" value='{{token}}'>
      <input type="hidden" name="username" value='{{user}}'>
      <input type="hidden" name="password" value='{{senha}}'>
      <button type="submit">Deletar conta</button>
    </form>
  </body>
</html>