<!DOCTYPE html>
<html>
  <head>
    <title>Exemplo de Tela com 3 Botões de Redirecionamento</title>
  </head>
  <body>
    <h1>Bem-vindo, {{ username }}! Escolha uma opção:</h1>
    <button onclick="window.location.href='/update_user';"><br> <!-- troca pela url do servidor replit-->
        Atualizar cadastro
    </button>

    <form action="/tasks" method="GET">
      <input type="hidden" name="token" value={{token}}>
      <button type="submit">tasks</button>
    </form>
    <button onclick="window.location.href='/delete';"><br> <!-- troca pela url do servidor replit-->
      Deletar conta
    </button>
  </body>
</html>